body{
background-color: #FFB5FF;
font-family: andale mono;
}

#header {
background-color: black;
color: #5F3635;
text-align: center;
}

#container {
background-color: #E5F1A3;
color: #5F3635;
margin-left: auto;
margin-right: auto;
width: 800px;
}

#content {
background-color: #41FF64;
color:#5F3635;
padding: 10px;
margin-left: auto;
margin-right: auto;
width: 675px;
height: 340px
border:solid, 1px, black;
}

#main {
background-color: #FF0074;
color: #5F3635;
width:500px;
float:right;
}

#nav {
background-color: #00B1FF;
color: #5F3635;
width: 150px;
float: left;
}

#footer {
background-color: black;
color: #5F3635;
clear: both;
text-align: right;
padding:20px;
background-color: white;
}

#nav ul {
list-style-type:none;
padding:0;
}

a{
text-decoration: none;
color:blue;
}

h1,h2,h3 {
margin:0;
}
span {
color: pink;
}